<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<p th:inline="text">Your first name is <span style="color: red;">[[${employee.firstName}]]</span>.<br/>
    Your last name is <span style="color: red;">[[${employee.lastName}]]</span>.<br/>
    Your SSN is <span style="color: red;">[[${employee.ssn}]]</span>.<br/>
    Your DBO is <span style="color: red;">[[${employee.dob}]]</span>.</p>


</body>
</html>